# DO NOT USE NOTEPAD TO EDIT CONFIG FILES! USE NOTEPAD++ INSTEAD!
# Uncomment a line when you want to change its default value (Remove # at the beginning)
# Please ensure to leave a space after the colon if a value is needed ("example-setting" "example-setting-with: value")
# At least one account with "username", "password" as well as "location" and "gmaps-key" are required
# When your configuration is done, rename this file by removing the ".example" extension
# A different config-files can be included directly in processes by "--config-file" or "-cf" and path

# Image settings
###################

#generate-images                # Turn on automatic on-demand icon generation useing ImageMagick.

# Required settings
###################

#gmaps-key:                     # Your Google Maps API key


# Common settings
#################

#host:                          # Address to listen on (default='127.0.0.1')
#port:                          # Port to listen on (default=5000)
#external-hostname:             # Hostname used for external requests.
                                # Must be accessible from the exterior. (default="http://127.0.0.1:5000")
#location:                      # Location, can be an address or coordinates.
#no-gyms                        # Disables gym scanning (default=False)
#no-pokemon                     # Disables pokemon scanning. (default=False)
#no-pokestops                   # Disables pokestop scanning. (default=False)
#no-raids                       # Disables raid scanning (default=False)


# Database settings
###################

#db-host:                       # Required for mysql ()
#db-name:                       # Required for mysql
#db-user:                       # Required for mysql
#db-pass:                       # Required for mysql
#db-port:                       # Required for mysql (default=3306)
#db-threads:                    # Number of db threads; increase if the db queue falls behind. (default=1)


# Search settings
#################

#china                          # Coordinates transformer for China.
#gym-info                       # Enables detailed gym info collection. (default=False)
#stepsize                       # Size of the steps for the fetch urls. (default=0.00007)
#maxradius                      # Maximum radius (factor times the stepsize) before device is resend to center point, use 0 to disable it. (default=0)
#dont-move-map                  # Don't update the map location on a new scanned location. (default=False)
#teleport-factor                # Teleport factor for the stepsize. (default=10)


# Webserver settings
####################

#locale:                        # Pokemon translation
#cors                           # Enable CORS on web server.
#ssl-certificate:               # Path to ssl certificate
#ssl-privatekey:                # Path to ssl private key
#encrypt-lib:                   # Path to encrypt lib to be used instead of the shipped ones.
#display-in-console             # Display Found Pokemon in Console.
#disable-blacklist              # Disable the global anti-scraper IP blacklist.
#mapname:                       # Name for the map in the HTML view, default RocketMapPlusPlus


# Proxy settings
################

#proxy:                         # Proxy URL e.g. socks5://127.0.0.1:9050 or a list of proxies
                                # e.g. [socks5://127.0.0.1:9050,socks5://127.0.0.1:9050]
#proxy-skip-check               # Disable checking of proxies before start.
#proxy-test-timeout:            # Timeout before proceeding with next proxy while checking if the proxy works. (default=5)
#proxy-test-retries:            # Number of times to retry sending proxy test requests on failure. (default=0)
#proxy-test-backoff-factor:     # Factor (in seconds) by which the delay until next retry will increase. (default=0.25)
#proxy-test-concurrency:        # Async requests pool size. (default=0 for automatic optimal sizing)
#proxy-display:                 # Used with -ps, full = display complete proxy address. Index = displays just the index for that proxy. (default='index')
#proxy-file:                    # Load proxy list from text file (one proxy per line), overrides #proxy.
#proxy-refresh:                 # Period of proxy file reloading, in seconds. Works only with proxy-file. (default=0, 0 to disable)
#proxy-rotation:                # Enable proxy rotation with account changing for search threads (none/round/random). (default='none')


# Webhook settings
##################

#webhook:                       # Webhook URL e.g. http://127.0.0.1:12345 or a list for multiple webhooks
                                # [http://127.0.0.1:1345,http://127.0.0.1:12346] (default=None)
#wh-types:[]                    # List of events to be sent: pokemon, gym, raid, egg, tth, gym-info, pokestop, lure, captcha. (default= nothing)
#wh-threads:                    # Number of webhook threads; increase if the webhook queue falls behind. (default=1)
#wh-retries:                    # Number of times to retry sending webhook data on failure (default=5)
#wh-connect-timeout:            # Connect timeout (in seconds) for webhook requests (default=1).
#wh-read-timeout:               # Read timeout (in seconds) for webhook requests (default=1).
#wh-concurrency:                # Async requests pool size. (default=25)
#wh-backoff-factor:             # Factor (in seconds) by which the delay until next retry will increase. (default=0.25).
#wh-lfu-size:                   # Webhook LFU cache max size (default=1000).
#wh-frame-interval:             # Time to wait for wh message grouping (msecs) (default=500)



# Misc
######

#verbosity                      # Show debug messages from RocketMap and PGoApi. Values are 1,2,3 (default=0)
#no-file-logs                   # Disables logging to files except for access.log. (default=False)
#log-path:                      # Defines the path logs are saved at. (default=logs/)
#log-filename:                  # Defines the log filename to be saved. The default generates yyyymmdd_HHMM_statusname.log. (default=%Y%m%d_%H%M_<SN>)


# User Auth Settings
################
# If you want users to authenticate using Discord before accessing to your map, enable flag "--user-auth" and follow the next steps:
# 1. Create a Discord App: https://discordapp.com/developers/applications/me
# 2. Add a "Redirect URI" to your the application in this format: https://<EXTERNAL-HOSTNAME>/auth_callback
# 3. Retrieve the generated Client ID and Client Secret and setup your configuration file to use them.
# 4. If you want to check if user has a particular role you'll need to add a bot to your Discord App.
# 4.1. Allow bot access to your server: https://discordapp.com/api/oauth2/authorize?client_id=<CLIENT_ID>&scope=bot%20guilds
# 5. To require a user to be in one of your guilds (servers) to gain access, specify the required guild ID and an invitation link.
# 6. To require a user to have a specific role in the guild to gain access, specify the required role name(s) and an invitation link.
# Detailed guide and more information: docs/extra/auth-discord.md
#user-auth:                     # Force end users to auth to an external service. Supported: Discord
#user-auth-block-concurrent:    # Block users for a predefined amount of time. Default: 0 (disabled).
#user-auth-secret-key:          # Secret key to encrypt session cookies. Use a randomly generated string.
#user-auth-client-id:           # Discord App - OAuth2 Client ID.
#user-auth-client-secret:       # Discord App - OAuth2 Client Secret.
#user-auth-validity:            # Check every X seconds if user authentication is still valid and refresh access token. Default: 3600
#user-auth-guild-required:      # (Optional) If guild ID is specified, user must have joined that guild (server) to access the map.
#user-auth-guild-invite:        # Invite link to redirect users if they haven't joined the above guild.
#user-auth-role-required:       # (Optional) If specified, user must have at least one of these Discord roles. Requires a Discord App Bot to be configured with "Manage Roles" permissions.
#user-auth-role-invite:         # Invite link to redirect users if haven't got any of the above roles.
#user-auth-bot-token:           # Token from the Discord App Bot with access to your guild (server). Only needed if "user-auth-role-required" is used.
